<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DreamJournal</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Mukta" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>
<body>

	<header role="banner">
		<h1>Dream Journal</h1>
		<nav role="navigation">
			<ul class="navgroup" id="hidden">
			</ul>
		</nav>
	</header>
	
	<main role="main">    
        <div class="login-container">
    </div>
	</main>

	<footer>
		<div class="footer-info">
			</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../server.js"></script>
    <script src="index.js"></script>

    </body>

</html>