<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DreamJournal</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Mukta" rel="stylesheet">
  <link href="styles.css" rel="stylesheet" type="text/css" />
  <link href="jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <header role="banner">
    <h1 class="" id="h1-login">Dream Journal</h1>
    <div class="nav-container">
      <nav role="navigation" class="hidden" id="navbar">
        <ul class="navgroup">
          <h2>Dream Journal</h2>
          <li><a class="sign-out menu-item">Sign Out</a></li>
          <li><a class="new-post menu-item">New Post</a></li>
          <li><a class="display-all menu-item">View All</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main role="main">
    <section role="section" class="" id="login-page">
      <div class="login-container">
        <p class="orange">A simple blogging app to record dreams.</p>Enter login information below:
        <form class="js-login-form" role="post">
          <fieldset>
            <legend>Enter login information below:</legend>
            <label for="username">Username:
              <input type="text" id="username" name="username" class="login-field" required></label>
            <label for="pass">Password:
              <input type="password" id="pass" name="pass" class="login-field" required></label>
            <label for="email" class="hidden" id="email">Email (optional):
              <input type="text" id="email-field" name="email" class="login-field"></label>
            </label>
          </fieldset>
          <button class="button" type="submit" id="btnlogin">Login</button>
        </form>
        <p class="login-register-text">First time user? <a class="register">Register.</a></p>
      </div>
    </section>

    <section role="section">
      <div class="action-title hidden">
        <h3></h3>
      </div>
      <div class="response-container hidden" aria-live="assertive">
        <ul class="response-navgroup">
          <li><a class="display-all menu-item">View All</a></li>
          <li><a class="new-post menu-item">New Post</a></li>
        </ul>
        <ul class="history-navgroup">
          <li><a class="back-nav">< Back</a></li>
          <li><a class="forward-nav">Forward ></a></li>
        </ul>
      </div>

      <div class="hidden" id="entry-page">
        <div class="post-container" aria-live="assertive">
          <form class="js-post-form" role="post">
            <fieldset>
              <label for="username">Title:
                <input type="text" id="title" name="title" class="post-field" required></label>
              <label for="dreamentry">Entry:
                <textarea id="dreamentry" name="dreamentry" class="post-field" required></textarea></label>
              <label for="dreamdate">Date of Dream:
                <input type="text" id="dreamdate" name="dreamdate" class="date-field" required></label>
              <label for="tags">Tags:
                <input type="text" id="tags" name="tags" class="post-field" required
                  placeholder="falling, rain, etc."></label>
            </fieldset>
            <button class="button" id="btnpost">Record Entry</button>
          </form>
        </div>
      </div>

      <div class="hidden" id="view-all-page" aria-live="assertive">
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="scripts/index.js"></script>
  <script src="scripts/api.js"></script>

</body>

</html>