<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DreamJournal</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Mukta" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>
<body>

	<header role="banner">
		<h1>Dream Journal</h1>
	</header>
	
	<main role="main">    
        <div class="login-container">
        <form action="/entries.html" class="js-login-form" role="login">
                <fieldset>
                    <legend>Enter username and password below:</legend>
                  <label for="username">Username: 
                    <input type="text" id="username" name="username" class="login-field" required></label>
                  <label for="pass">Password: 
                    <input type="text" id="pass" name="pass" class="login-field" required></label>
                    <button class="button" id="login">Login</button>
        <p>First time user? <a href="#">Register.</a>
        Forgot login information? <a href="#">Click here.</a></p>
    </div>
	</main>

	<footer>
		<div class="footer-info">
			</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../server.js"></script>
    <script src="index.js"></script>

    </body>

</html>