body {
    /* background-image: url("./images/entries-bg2.png"); */
    background-color: black;
    /* background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 101%; */
  }

.nav-container {
  height: 100px;
  margin-top: -50px;
   }

  h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
    color: white;    
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    top: -60px;
    display: inline-block;
  }

  .navgroup li {
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: white;
    padding-left: 15px;
  }

main {
    text-align: center;
}

.entry-bg {
    background-image: url("./images/login-background-color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;  
    display: inline-block;
    position: relative;
    width: 36%;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.post-container {
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid white;
    color: white;
    font-family: 'Mukta', sans-serif;
    padding-bottom: 20px;

}

#dreamentry {
    height: 100px;
}

fieldset {
    border: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

legend {
    padding: 10px 0px 10px 0px;
}

p {
    padding: 2px 0px 0px 0px;
}

label {
    display: block;
}

input, textarea {
    display: block;
    margin: auto;
    font-family: 'Mukta', sans-serif;
    color: black;
    background-color: rgba(183, 171, 214, 0.70);
    border: 0px solid rgba(255, 255, 255, 0.85);
    width: 500px;
    height: 40px;
    padding: 0px 0px 0px 0px;
}



input:focus, input:hover, input:active {
    border: 0px solid rgba(213, 166, 132);
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: rgba(213, 166, 132);
}

a, a:visited {
    color: white;
}

.button {
    margin-top: 22px;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
    color: black;
    background-color: white;
    border: 1px solid rgba(183, 171, 214);
    width: 200px;
    height: 44px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button:hover, .button:focus {
    background-color: rgba(183, 171, 214, 0.0);
    border: 1px solid rgba(183, 171, 214);
    color: rgba(183, 171, 214);
}